<h1 style="font-family:Calibri; color:#E5E4E2">Add Movies</h1>

<form action="/add" method="POST" style="font-family:Calibri; color:#E5E4E2">
	Title:<br/><input type="text" name="title">
	<br/><br/>
	Genre:<br/><input type="text" name="genre">
	<br/><br/>
	Director:<br/><input type="text" name="director">
	<br/><br/>
	Year:<br/><input type="text" name="year">
	<br/><br/>
	Format:<br/><input type="text" name="format">
	<br/><br/>
	Actors:<br/><input type="text" name="actors">
	<br/><br/>
	<input type="submit">
</form>
<br/>
<a href="/main" style="font-family:Calibri; color:#E5E4E2">Return to Main Menu</a>