<h1 style="font-family:Calibri; color:#E5E4E2">Search</h1>

$if delete == False:
	<form action="/search" method="POST" style="font-family:Calibri; color:#E5E4E2">
		<input type="text" name="query">
		<br/><br/>
		<input type="submit">
	</form>
$if delete == True:
	<form action="/delete" method="POST" style="font-family:Calibri; color:#E5E4E2">
		<input type="text" name="query">
		<br/><br/>
		<input type="submit">
	</form>
<br/><br/>
<a href="/main" style="font-family:Calibri; color:#E5E4E2">Return to Main Menu</a>